*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerGeral{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(to right , #101b37 , #041746,#0b1320, #121b22);
}
::-webkit-scrollbar{
    width: 15px;
    background: #121b22;
}
::-webkit-scrollbar-track{
    background: #121b22;
    border-radius:50px;
}
::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius:50px;
}
@media(max-width:550px){
    ::-webkit-scrollbar-thumb{
        background:#121b22;
        border-radius:50px;
    }
}